@charset "utf-8";
#Contenedor {
	width: 1205px;
	height: auto;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	background-color: #FFFFFF;
}
#Contenedor #Header {
	height: 159px;
	width: 1205px;
	background-image: url(imagenes/header.jpg);
}
#Contenedor #Navbar {
	width: 1205px;
	height: 30px;
}
#Contenedor .Content {
	width: 1205px;
	height: auto;
	color: #020FFC;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	background-color: #FFFFFF;
}
#Contenedor .Content #Imagenes {
	width: 1185px;
	height: 397px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-image: url(imagenes/imagenes.gif);
}

#Contenedor #Footer {
	width: 1205px;
	height: 100px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	background-color: #000000;
}
